@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Merriweather Sans;
  src: url("../../assets/fonts/MerriweatherSans-regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Merriweather Sans;
  src: url("../../assets/fonts/MerriweatherSans-bold.ttf");
  font-weight: bold;
}
/* MAIN VARS */
/* */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Merriweather Sans;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: Montserrat;
  font-weight: bold;
  color: #103f4e;
}

header#fixed-header {
  height: 125px;
  width: 100%;
  background: white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  z-index: 999;
  position: fixed;
  top: -130px;
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
}
header#fixed-header #logo-header {
  height: 45px;
}
header#fixed-header nav#header-menu {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  box-sizing: border-box;
}
header#fixed-header nav#header-menu a.link-menu {
  font-size: 1.25em;
  padding: 5px;
  margin: 0 0 0 15px;
  color: #103f4e;
  cursor: pointer;
  text-decoration: none;
}

section {
  padding: 50px 0 50px 0;
  box-sizing: border-box;
}
section .section-title {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 30px 0;
}
section .section-subtitle {
  font-size: 1.9rem;
  text-align: center;
  margin: -30px 0 30px 0;
  color: #4d6c75;
}
section .section-content {
  margin: 0 0 0 0;
}

main#landing {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/imgs/bg-home.svg") no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 0;
  /* header height" */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
main#landing .section-content {
  min-height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px;
  box-sizing: border-box;
}
main#landing .section-content #landing-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 0 50px 0;
}
main#landing .section-content #landing-logo img {
  width: 350px;
}
main#landing .section-content #landing-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main#landing .section-content #landing-content h3#we-are {
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 2rem;
  color: #103f4e;
  font-weight: normal;
  text-align: left;
}
main#landing .section-content #landing-content h1#landing-slogan {
  max-width: 600px;
  margin: 10px 0 auto 0;
  font-size: 3rem;
  color: #103f4e;
}
main#landing .section-content #landing-content h1#landing-slogan b {
  color: #008fbd;
}
main#landing .section-content #landing-heroImg {
  max-width: 700px;
}

div#bg-who-we-are {
  background: url("../../assets/imgs/bg-whoWeAre.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

section#who-We-Are {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#who-We-Are .section-title {
  font-size: 3rem;
}
section#who-We-Are .section-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*width: 70%*/
}
section#who-We-Are .section-content p {
  max-width: 600px;
  font-size: 1.5rem;
  margin: 0 0 30px 0;
}
section#who-We-Are .section-content ul {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
section#who-We-Are .section-content ul li.item-icon {
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  background: white;
  margin: 30px 30px 30px 0;
}
section#who-We-Are .section-content ul li.item-icon img {
  height: 75px;
}

#team {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}
#team #group-titles {
  max-width: 600px;
  margin: 0 0 100px 0;
}
#team #group-titles .section-title,
#team #group-titles .section-subtitle {
  margin: 0 0 20px 0;
}
#team .section-content {
  min-height: 70%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 0 100px;
  align-content: center;
}
#team .section-content .card-person {
  height: auto;
  width: auto;
  margin: 15px 25px 0 0;
}
#team .section-content .card-person .avatar-person {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
#team .section-content .card-person .name-person,
#team .section-content .card-person .function-person {
  width: 200px;
  margin: 10px 0 0 0;
  text-align: center;
}
#team .section-content .card-person .name-person {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}
#team .section-content .card-person .function-person {
  font-size: 0.9rem;
  margin: 2.5px 0 0 0;
  font-weight: normal;
  font-family: Merriweather Sans;
}
#team .section-content .card-person:nth-child(1) .avatar-person {
  background: url("../../assets/imgs/alex.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(2) .avatar-person {
  background: url("../../assets/imgs/FelipePavanelli.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(3) .avatar-person {
  background: url("../../assets/imgs/GuilhermeGomes.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(4) .avatar-person {
  background: url("../../assets/imgs/GustavoCunha.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(5) .avatar-person {
  background: url("../../assets/imgs/GustavoVieira.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(6) .avatar-person {
  background: url("../../assets/imgs/JoaoVictor.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(7) .avatar-person {
  background: url("../../assets/imgs/LucasMoreira.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

#bg-works {
  background: url("../../assets/imgs/bg-works.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

#works {
  height: auto;
  width: 100%;
  background-size: cover;
}
#works .section-content {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#works .section-content .card-work {
  height: 250px;
  width: 250px;
  margin: 30px 50px 30px 0;
  background: white;
  border-radius: 15px;
  padding: 0 30px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
}
#works .section-content .card-work .title-work {
  font-size: 1.7rem;
  text-align: center;
  color: #4d4d4d;
  position: relative;
  z-index: 1;
}
#works .section-content .card-work .title-work:before {
  content: "";
  height: 10px;
  width: 100px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 2.5px;
  left: 0;
  margin: 0px auto;
  z-index: -1;
  background: linear-gradient(to right, rgba(26, 183, 234, 0.3), rgba(3, 234, 198, 0.5));
  transform: skewX(25deg);
}
#works .section-content .card-work .content-work {
  font-size: 1.25em;
  text-align: left;
  color: #888888;
  margin: 0;
}
#works .section-content .card-work:nth-child(2) .title-work:before {
  background: linear-gradient(to right, rgba(26, 183, 234, 0.23), rgba(26, 183, 234, 0.93));
}
#works .section-content .card-work:nth-child(3) .title-work:before {
  background: linear-gradient(to right, rgba(255, 187, 0, 0.44), rgba(255, 0, 0, 0.39));
}

#contact {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#contact .section-content {
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
}
#contact .section-content .section-title {
  text-align: left;
  box-sizing: border-box;
}
#contact .section-content .something-in-mind {
  height: auto;
  max-width: 700px;
  padding: 0 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
#contact .section-content .something-in-mind input {
  width: 600px;
  margin: 25px 0 25px 0;
  border: none;
  border-bottom: 1px solid #afafaf;
  font-size: 1.2em;
  padding: 0 10px 10px 0px;
  font-family: Merriweather Sans;
  outline: 0;
}
#contact .section-content .something-in-mind input::placeholder {
  color: #5f5f5f;
}
#contact .section-content .something-in-mind button[type=submit] {
  width: auto;
  border: none;
  padding: 15px 35px 15px 35px;
  margin: 25px auto auto auto;
  background: #00ade7;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  transition: 0.25s;
}
#contact .section-content .something-in-mind button[type=submit]:hover {
  background: #008fbd;
}
#contact .section-content .contact-data {
  height: auto;
  max-width: 700px;
}
#contact .section-content .contact-data ul {
  list-style: none;
  margin: 35px 0 35px 0;
  padding: 0;
}
#contact .section-content .contact-data ul li {
  font-size: 1.35em;
  color: black;
  margin: 10px 0 10px 0;
}
#contact .section-content .contact-data ul li img {
  height: 32px;
  width: 32px;
}
#contact .section-content .contact-data ul li:first-child {
  color: #ababab;
  font-size: 1em;
  margin: 25px 0 25px 0;
}
#contact .section-content .contact-data ul:last-child {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#contact .section-content .contact-data ul:last-child li {
  margin: 10px 15px 0 15px;
  cursor: pointer;
}
#contact .section-content .contact-data ul:last-child li:first-child {
  margin: 25px 0 25px 0;
  width: 100%;
  cursor: none;
}
#contact .section-content .contact-data ul:last-child li:nth-child(2) {
  margin: 10px 0 auto 0;
}

footer {
  width: 100%;
  padding: 50px 50px 0px 50px;
  box-sizing: border-box;
  width: 100%;
  background: #103f4e;
  color: white;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
footer span {
  font-size: 1em;
  margin: 0 0 20px 0;
}
footer img.logo-footer {
  height: 30px;
  position: absolute;
  bottom: 20px;
  left: 50px;
  filter: opacity(0.2);
}

/*# sourceMappingURL=styleIndex.css.map */
