@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Merriweather Sans;
  src: url("../../assets/fonts/MerriweatherSans-regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Merriweather Sans;
  src: url("../../assets/fonts/MerriweatherSans-bold.ttf");
  font-weight: bold;
}
/* MAIN VARS */
/* */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Merriweather Sans;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: Montserrat;
  font-weight: bold;
  color: #103f4e;
}

.leave-section {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.leave-section img.button-leave-section {
  height: 50px;
  width: 50x;
  transition: 0.15s;
  cursor: pointer;
}
.leave-section img.button-leave-section:hover {
  margin: 0 0 0 12.5px;
}
.leave-section p {
  margin: 5px 0 0 0;
  text-decoration: underline;
  font-size: 1em;
  text-transform: lowercase;
  cursor: pointer;
}

section {
  padding: 0 0 50px 0;
}
section .section-title {
  font-size: 3rem;
  text-align: center;
  margin: 50px 0 50px 0;
}
section .section-subtitle {
  font-size: 2rem;
  text-align: center;
  margin: -20px 0 50px 0;
  color: #4d6c75;
}
section .section-content {
  margin: 0 0 0 0;
}

main#landing {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/imgs/bg-home.svg") no-repeat;
  background-size: cover;
  position: relative;
}
main#landing .section-content {
  min-height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px;
  box-sizing: border-box;
}
main#landing .section-content #landing-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main#landing .section-content #landing-logo img {
  width: 350px;
}
main#landing .section-content #landing-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main#landing .section-content #landing-content h3#we-are {
  width: 100%;
  margin: 0 0 10px 0;
  align-self: start;
  font-size: 2rem;
  color: #103f4e;
  font-weight: normal;
}
main#landing .section-content #landing-content h1#landing-slogan {
  max-width: 600px;
  margin: 10px 0 auto 0;
  font-size: 3rem;
  color: #103f4e;
}
main#landing .section-content #landing-content h1#landing-slogan b {
  color: #008fbd;
}
main#landing .section-content nav#landing-menu {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
main#landing .section-content nav#landing-menu ul {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
}
main#landing .section-content nav#landing-menu ul li.item-menu {
  margin: 50px 0 0 0;
  position: relative;
}
main#landing .section-content nav#landing-menu ul li.item-menu:first-child {
  margin: 0 0 0 0;
}
main#landing .section-content nav#landing-menu ul li.item-menu p.number-item-menu {
  display: inline-block;
  font-size: 1.25em;
  margin: 0 0 0 0;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  top: 0;
  left: 0;
  transition: 0.25s ease-out;
}
main#landing .section-content nav#landing-menu ul li.item-menu hr.line-item-menu {
  display: inline-block;
  margin: 0 0 0 0;
  height: 5px;
  width: 60px;
  position: absolute;
  top: 12.5px;
  left: 30px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
}
main#landing .section-content nav#landing-menu ul li.item-menu a.link-item-menu {
  display: block;
  font-size: 2.35rem;
  margin: 8px 0 0 25px;
  color: #103f4e;
  cursor: pointer;
  text-transform: lowercase;
  text-decoration: none;
}
main#landing .section-content nav#landing-menu ul li.item-menu a.link-item-menu:before {
  content: "";
  position: absolute;
  background: #1ab7ea;
  height: 5px;
  width: 0;
  top: 12.5px;
  left: 30px;
  transition: 0.25s ease-out;
}
main#landing .section-content nav#landing-menu ul li.item-menu:hover a.link-item-menu:before, main#landing .section-content nav#landing-menu ul li.item-menu:hover p.number-item-menu {
  width: 60px;
  color: #1ab7ea;
}

div.background {
  background: url("../../assets/imgs/bg-WhoWeAre.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

section#who-We-Are {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#who-We-Are .section-title {
  font-size: 3rem;
}
section#who-We-Are .section-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}
section#who-We-Are .section-content p {
  max-width: 600px;
  font-size: 1.5rem;
}
section#who-We-Are .section-content ul {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
section#who-We-Are .section-content ul li.item-icon {
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  background: white;
  margin: 0 30px 0 0;
}
section#who-We-Are .section-content ul li.item-icon img {
  height: 75px;
}

#team {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 0 0 0 0;
}
#team #group-titles {
  max-width: 600px;
  margin: 0 0 100px 0;
}
#team #group-titles .section-title,
#team #group-titles .section-subtitle {
  margin: 0 0 20px 0;
}
#team .section-content {
  min-height: 70%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 0 100px;
  align-content: center;
}
#team .section-content .card-person {
  height: auto;
  width: auto;
  margin: 15px 25px 0 0;
}
#team .section-content .card-person .avatar-person {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
#team .section-content .card-person .name-person,
#team .section-content .card-person .function-person {
  width: 200px;
  margin: 10px 0 0 0;
  text-align: center;
}
#team .section-content .card-person .name-person {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}
#team .section-content .card-person .function-person {
  font-size: 0.9rem;
  margin: 2.5px 0 0 0;
  font-weight: normal;
  font-family: Merriweather Sans;
}
#team .section-content .card-person:nth-child(1) .avatar-person {
  background: url("../../assets/imgs/alex.jpg");
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(2) .avatar-person {
  background: url("../../assets/imgs/FelipePavanelli.jpg");
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(3) .avatar-person {
  background: url("../../assets/imgs/GuilhermeGomes.jpg");
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(4) .avatar-person {
  background: url("../../assets/imgs/GustavoCunha.jpeg");
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(5) .avatar-person {
  background: url("../../assets/imgs/GustavoVieira.jpg");
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(6) .avatar-person {
  background: url("../../assets/imgs/JoaoVictor.jpg");
  background-size: cover;
  background-position: center;
}
#team .section-content .card-person:nth-child(7) .avatar-person {
  background: white;
}

/*# sourceMappingURL=styleIndex.css.map */
