@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Merriweather Sans;
  src: url("../../assets/fonts/MerriweatherSans-regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Merriweather Sans;
  src: url("../../assets/fonts/MerriweatherSans-bold.ttf");
  font-weight: bold;
}

/* MAIN VARS */
$primary-color: #1ab7ea;
$secondary-color: #008fbd;
$tertiary-color: #03eac6;

$title-color: rgb(16, 63, 78);
$subtitle-color: rgb(77, 108, 117);
$text-color: #000000;
/* */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Merriweather Sans;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: Montserrat;
  font-weight: bold;
  color: $title-color;
}

$transition-overlay-effect: 0.25s linear;
$transition-section-effect: 0.35s linear;

.leave-section {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  img.button-leave-section {
    height: 50px;
    width: 50x;
    transition: 0.15s;
    cursor: pointer;

    &:hover {
      margin: 0 0 0 12.5px;
    }
  }

  p {
    margin: 5px 0 0 0;
    text-decoration: underline;
    font-size: 1em;
    text-transform: lowercase;
    cursor: pointer;
  }
}

section {
  padding: 0 0 50px 0;

  .section-title {
    font-size: 3rem;
    text-align: center;
    margin: 50px 0 50px 0;
  }

  .section-subtitle {
    font-size: 2rem;
    text-align: center;
    margin: -20px 0 50px 0;
    color: $subtitle-color;
  }

  .section-content {
    margin: 0 0 0 0;
  }
}

main#landing {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/imgs/bg-home.svg") no-repeat;
  background-size: cover;
  position: relative;

  .section-content {
    min-height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px;
    box-sizing: border-box;

    #landing-logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 350px;
      }
    }

    #landing-content {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3#we-are {
        width: 100%;
        margin: 0 0 10px 0;
        align-self: start;
        font-size: 2rem;
        color: $title-color;
        font-weight: normal;
      }

      h1#landing-slogan {
        max-width: 600px;
        margin: 10px 0 auto 0;
        font-size: 3rem;
        color: $title-color;

        b {
          color: $secondary-color;
        }
      }
    }

    nav#landing-menu {
      max-width: 100%;
      display: flex;
      justify-content: center;
      margin: 0;

      ul {
        display: flex;
        flex-flow: column wrap;
        list-style: none;

        li.item-menu {
          margin: 50px 0 0 0;
          position: relative;
          $color-before-menu: rgba(0, 0, 0, 0.3);
          $transition-before-menu: 0.25s ease-out;
          $item-menu-before-length: 60px;

          &:first-child {
            margin: 0 0 0 0;
          }

          p.number-item-menu {
            display: inline-block;
            font-size: 1.25em;
            margin: 0 0 0 0;
            color: $color-before-menu;
            position: relative;
            top: 0;
            left: 0;
            transition: $transition-before-menu;
          }

          hr.line-item-menu {
            display: inline-block;
            margin: 0 0 0 0;
            height: 5px;
            width: $item-menu-before-length;
            position: absolute;
            top: 12.5px;
            left: 30px;
            background: $color-before-menu;
            border: none;
          }

          a.link-item-menu {
            display: block;
            font-size: 2.35rem;
            margin: 8px 0 0 25px;
            color: $title-color;
            cursor: pointer;
            text-transform: lowercase;
            text-decoration: none;

            &:before {
              content: "";
              position: absolute;
              background: $primary-color;
              height: 5px;
              width: 0;
              top: 12.5px;
              left: 30px;
              transition: $transition-before-menu;
            }
          }

          &:hover a.link-item-menu:before,
          &:hover p.number-item-menu {
            width: $item-menu-before-length;
            color: $primary-color;
          }
        }
      }
    }
  }
}

div.background {
  background: url("../../assets/imgs/bg-WhoWeAre.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

section#who-We-Are {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title {
    font-size: 3rem;
  }

  .section-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 70%;

    p {
      max-width: 600px;
      font-size: 1.5rem;
    }

    ul {
      max-width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;

      li.item-icon {
        padding: 30px;
        border-radius: 25px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        background: white;
        margin: 0 30px 0 0;

        img {
          height: 75px;
        }
      }
    }
  }
}

#team {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  // border: 1px solid red;
  padding: 0 0 0 0;

  #group-titles {
    max-width: 600px;
    margin: 0 0 100px 0;
    .section-title,
    .section-subtitle {
      margin: 0 0 20px 0;
    }
  }

  .section-content {
    min-height: 70%;
    width: 50%;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 0 100px;
    align-content: center;

    .card-person {
      height: auto;
      width: auto;
      margin: 15px 25px 0 0;

      .avatar-person {
        height: 200px;
        width: 200px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
      }

      .name-person,
      .function-person {
        width: 200px;
        margin: 10px 0 0 0;
        text-align: center;
      }

      .name-person{
        font-size: 1.3rem;
        letter-spacing: .5px;
      }

      .function-person{
        font-size: .9rem;
        margin: 2.5px 0 0 0;
        font-weight: normal;
        font-family: Merriweather Sans;
      }
    }

    .card-person:nth-child(1) .avatar-person{
      background: url("../../assets/imgs/alex.jpg");
      background-size: cover;
      background-position: center;
    }
    .card-person:nth-child(2) .avatar-person{
      background: url("../../assets/imgs/FelipePavanelli.jpg");
      background-size: cover;
      background-position: center;
    }
    .card-person:nth-child(3) .avatar-person{
      background: url("../../assets/imgs/GuilhermeGomes.jpg");
      background-size: cover;
      background-position: center;
    }
    .card-person:nth-child(4) .avatar-person{
      background: url("../../assets/imgs/GustavoCunha.jpeg");
      background-size: cover;
      background-position: center;
    }
    .card-person:nth-child(5) .avatar-person{
      background: url("../../assets/imgs/GustavoVieira.jpg");
      background-size: cover;
      background-position: center;
    }
    .card-person:nth-child(6) .avatar-person{
      background: url("../../assets/imgs/JoaoVictor.jpg");
      background-size: cover;
      background-position: center;
    }
    .card-person:nth-child(7) .avatar-person{
      background: white;
    }

  }
}
