@font-face {
  font-family: title;
  src: url("../../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: title;
  src: url("../../fonts/Montserrat-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: title;
  src: url("../../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: body;
  src: url("../../fonts/MerriweatherSans-regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: body;
  src: url("../../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
/* COLORS VARS */
/* */
/* STRUCTURE VARS */
/* */
* {
  z-index: 1;
}

/* PATTERNS */
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: title;
  overflow-x: hidden;
  position: relative;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: title;
}

/* */
/* CLASSES */
nav#landing-header, header {
  width: 100%;
  padding: 48px 10% 48px 10%;
  padding-bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 998;
  transition: 0.5s;
}
nav#landing-header #logo img, header #logo img {
  height: 50px;
}
nav#landing-header .nav-header ul, header .nav-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav#landing-header .nav-header ul a, header .nav-header ul a {
  color: black;
  text-decoration: none;
}
nav#landing-header .nav-header ul a:visited, header .nav-header ul a:visited {
  color: black;
}
nav#landing-header .nav-header ul li, header .nav-header ul li {
  margin: 0 0 0 10px;
  padding: 6px 4px 6px 4px;
  text-transform: lowercase;
  font-size: 1.1em;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
nav#landing-header .nav-header ul li:hover, header .nav-header ul li:hover {
  font-weight: bold;
}
nav#landing-header .nav-header-mobile, header .nav-header-mobile {
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: none;
}
nav#landing-header .nav-header-mobile img, header .nav-header-mobile img {
  height: 100%;
  width: 100%;
}

section#contact .container #group-form form button, section#landing #landing-group button#about {
  position: relative;
  margin: 20px 0 0 0;
  padding: 10px 15px 10px 15px;
  background: none;
  border: 2px solid black;
  outline: 0;
  font-family: title;
  font-weight: 600;
  font-size: 1.25em;
  color: black;
  background: white;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: 0.3s;
}
section#contact .container #group-form form button:disabled, section#landing #landing-group button#about:disabled {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  cursor: initial;
}
section#contact .container #group-form form button:disabled:hover, section#landing #landing-group button#about:disabled:hover {
  background: white;
  color: rgba(0, 0, 0, 0.5);
}
section#contact .container #group-form form button:disabled:hover:before, section#landing #landing-group button#about:disabled:hover:before {
  margin: -7px -12px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
section#contact .container #group-form form button:disabled:before, section#landing #landing-group button#about:disabled:before {
  margin: -7px -12px;
  border-color: rgba(0, 0, 0, 0.5);
}

section#contact .container .contact-data:before, section#contact .container #group-form form button:before, section#landing #landing-group button#about:before {
  content: "";
  position: absolute;
  transform: translateZ(-1px);
  height: 100%;
  width: 100%;
  background: white;
  border: 2px solid black;
  transition: 0.25s;
  margin: -7px -12px;
}

section#contact .container #group-form form button:hover:before, section#landing #landing-group button#about:hover:before {
  margin: -10px -15px;
  padding: 0;
}

.overlay-menu {
  position: fixed;
  right: -100%;
  box-sizing: border-box;
  z-index: 999;
  height: 100%;
  width: 100%;
  transition: 0.25s;
  transition: 0.3s opacity;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.1);
}
.overlay-menu .mobile-menu {
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  background: white;
  padding-right: 40px;
}
.overlay-menu .mobile-menu ul.mobile-menu-links {
  list-style: none;
  margin: 0 0 0 40px;
}
.overlay-menu .mobile-menu ul.mobile-menu-links a {
  color: black;
  text-decoration: none;
}
.overlay-menu .mobile-menu ul.mobile-menu-links a:visited {
  color: black;
}
.overlay-menu .mobile-menu ul.mobile-menu-links li {
  margin: 20px 0 0 0;
  padding: 6px 4px 6px 4px;
  text-transform: lowercase;
  font-size: 1.3em;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.overlay-menu .mobile-menu ul.mobile-menu-links li:hover {
  font-weight: bold;
}

.container {
  width: 80%;
  box-sizing: border-box;
}

.box-content {
  background: #f1fbff;
  height: auto;
  width: auto;
  display: inline-block;
  padding: 50px;
}

section {
  min-height: 100%;
  min-width: 100%;
  padding: 40px 0 40px 0;
  position: relative;
  display: block;
}

.section-title {
  font-family: title;
  font-weight: bold;
  font-size: 3rem;
  margin: 0 0 20px 0;
  letter-spacing: 0.5px;
}

.section-subtitle {
  font-family: title;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0px 0 40px 0;
  padding: 0;
}

.after:after {
  content: "";
  display: block;
  height: 6px;
  width: 75px;
  background: black;
  margin: 5px 0 20px 0;
}

.block {
  width: 100%;
  display: flex;
}

p.text {
  font-size: 1.25rem;
  margin: 20px 0 0 0;
}

/* */
header {
  position: fixed;
  background: rgba(255, 255, 255, 0.98);
  padding-top: 24px;
  padding-bottom: 24px;
  top: -100%;
  box-shadow: 0 0 10px -2.5px #c2c2c2;
}

section#landing {
  display: flex;
  justify-content: center;
}
section#landing .container {
  display: flex;
}
section#landing #landing-group {
  position: relative;
  height: 100%;
  width: 100%;
}
section#landing #landing-group #main-text {
  max-width: 600px;
}
section#landing #landing-group button#about:hover {
  transition: 0.25s;
  background: black;
  color: white;
}
section#landing #landing-group button#about:hover:before {
  border: 1px solid black;
}
section#landing img#landing-hero {
  width: 50%;
}

section#about-us {
  display: flex;
  justify-content: center;
}
section#about-us .box-content .text {
  max-width: 450px;
  text-align: left;
}
section#about-us .block {
  margin-top: 40px;
}
section#about-us .block:first-child {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
}
section#about-us .block:first-child img {
  max-height: 300px;
  margin: 0 0 0 -30px;
}
section#about-us .block:nth-child(2) {
  justify-content: center;
}
section#about-us .block:nth-child(2) .box-content {
  margin-left: 25%;
}
section#about-us .block:nth-child(2) .box-content .text {
  width: 100%;
}
section#about-us .block:last-child {
  justify-content: center;
}
section#about-us .block:last-child ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
section#about-us .block:last-child ul li {
  padding: 24px 15px 24px 15px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
}
section#about-us .block:last-child ul li:nth-child(2) {
  border-left: 1px;
  border-right: 1px;
}

section#works {
  display: flex;
  justify-content: center;
  background: #fafafa;
}
section#works .section-title,
section#works .section-subtitle {
  text-align: center;
}
section#works .container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
section#works .container #projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin-top: 40px;
}
section#works .container #projects .project {
  width: 500px;
  margin: 40px 20px 40px 20px;
  position: relative;
  transform-style: preserve-3d;
}
section#works .container #projects .project .project-image {
  width: 100%;
  object-fit: cover;
}
section#works .container #projects .project .project-title {
  font-size: 2em;
  margin: 20px 0 0 0;
}

section#team {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
section#team .container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
section#team div#content {
  width: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
section#team div#content .person {
  margin: 20px 60px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  position: relative;
}
section#team div#content .person .avatar {
  height: 300px;
  width: 300px;
  position: relative;
}
section#team div#content .person .person-data {
  width: 100%;
  margin: 10px 0;
  box-sizing: content-box;
}
section#team div#content .person .person-data .name,
section#team div#content .person .person-data .function {
  text-align: left;
  display: block;
  margin: 0 0 5px 0;
  padding: 0;
}
section#team div#content .person .person-data .name {
  width: 100%;
  font-size: 1.8rem;
}
section#team div#content .person .person-data .function {
  font-size: 1rem;
  font-weight: normal;
}

section#contact {
  display: flex;
  justify-content: center;
  margin: 80px 0 0 0;
}
section#contact .container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
section#contact .container #group-form {
  width: 100%;
}
section#contact .container #group-form .section-title {
  margin: 0 0 10px 0;
}
section#contact .container #group-form .section-subtitle {
  margin-bottom: 40px;
  font-size: 1.3em;
}
section#contact .container #group-form form {
  margin: 40px 0 0 0;
  max-width: 840px;
  padding: 0;
}
section#contact .container #group-form form ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}
section#contact .container #group-form form ul li {
  width: 400px;
  margin: 20px 0;
}
section#contact .container #group-form form ul li:last-child {
  width: 840px;
}
section#contact .container #group-form form ul li label {
  font-size: 1.38em;
  font-weight: bold;
  font-family: title;
  display: block;
  transition: 0.2s;
}
section#contact .container #group-form form ul li input,
section#contact .container #group-form form ul li textarea {
  font-family: title;
  font-weight: normal;
  font-size: 1.9em;
  margin: 10px 0 0 0;
  outline: 0;
  border: none;
  display: block;
  background: none;
}
section#contact .container #group-form form ul li input::placeholder,
section#contact .container #group-form form ul li textarea::placeholder {
  color: #bbbbbb;
}
section#contact .container #group-form form ul li textarea {
  height: 150px;
  width: 100%;
  resize: none;
}
section#contact .container #group-form form button:hover {
  background: black;
  color: white;
}
section#contact .container #group-form form button:hover:before {
  border: 1px solid black;
}
section#contact .container #aside {
  width: 600px;
  position: relative;
}
section#contact .container .contact-data {
  width: 100%;
  background: #002c3a;
  color: whitesmoke;
  transform-style: preserve-3d;
  padding: 15px 20px 50px 20px;
  box-sizing: border-box;
  position: relative;
}
section#contact .container .contact-data .after:after {
  background: whitesmoke;
}
section#contact .container .contact-data ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  display: flex;
  flex-flow: column wrap;
  align-items: left;
  padding: 0 30% 0 0;
  box-sizing: border-box;
}
section#contact .container .contact-data ul li {
  display: inline-block;
  text-align: left;
  font-size: 0.95em;
}
section#contact .container .contact-data ul li:nth-child(odd) {
  font-size: 1.1em;
  font-weight: 600;
  margin: 20px 0 2.5px 0;
  color: whitesmoke;
  letter-spacing: 0.25px;
}
section#contact .container .contact-data:before {
  margin: 0 0 0 0;
  top: -10px;
  left: 10px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0;
  background: #002c3a;
}
footer .container img {
  height: 100px;
}

/* Responsiviness */
/* Menu */
@media (max-width: 840px) {
  .nav-header {
    display: none;
  }

  .nav-header-mobile {
    display: block !important;
  }
}
/* LANDING SECTION */
@media (max-width: 980px) {
  #landing-group {
    width: 100%;
  }

  #main-text {
    width: 100%;
  }

  img#landing-hero {
    display: none;
    width: 0;
  }
}
/* about us */
@media (max-width: 840px) {
  section#about-us {
    align-items: center;
  }
  section#about-us .block {
    width: 100%;
    margin: 20px 0;
    padding: 0;
  }
  section#about-us .block .box-content {
    width: 100%;
    margin: 0 !important;
  }
  section#about-us .block:first-child img {
    display: none;
  }
}
@media (max-width: 1135px) {
  section#about-us .block {
    margin: 20px 0;
  }
  section#about-us .block:first-child img {
    margin: 40px 0;
  }
}
/* works */
@media (max-width: 1450px) {
  #works .project {
    width: 375px !important;
  }
}
@media (min-width: 600px) {
  #works .project {
    width: 150px;
  }
}
/* team */
@media (min-width: 1200px) {
  div#content .person {
    margin: 20px 20px 0 20px !important;
  }
}
/* contact */
@media (max-width: 1300px) {
  section#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section#contact #aside {
    margin: 80px 0;
    width: 70% !important;
  }
}
@media (max-width: 540px) {
  section#contact #aside {
    width: 100% !important;
  }
}

/*# sourceMappingURL=indexStyle.css.map */
